extends layout.pug 

block content 
    section.section.page
        h1.home-title Basic User Registration App

        a.create(href="/users/create") Register

        p#disclaimer This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service