nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href='/') Home Page
            .navbar-nav
                a.nav-link.active(aria-current='page', href='/users') Users Table
                a.nav-link.active(aria-current='page', href='/users/create') Register User
